@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center mb-2">
    <h1 class="display-4">Bienvenu</h1>
    <p>Application DocMissions Users Stories</p><br />
    <p>Un récit utilisateur, ou « user story » en anglais, est une description simple d’un besoin ou d’une attente exprimée par un utilisateur et utilisée dans le domaine du développement de logiciels et de la conception de nouveaux produits pour déterminer les fonctionnalités à développer.</p>
    @*<a asp-page="/Stories/Create" class="btn btn-outline-primary">Vous êtes prêts, Créer un récit</a>*@
    <a asp-page="/Stories/Index" class="btn btn-outline-dark">Afficher les récits</a>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6">
        <h2>Principes</h2>
        <p>
            Un récit utilisateur est une phrase simple dans le langage de tous les jours permettant de définir avec suffisamment de précision le contenu d'une fonctionnalité à développer. Elle contient généralement trois éléments descriptifs de la fonctionnalité, sous la forme :
        </p>
        <div class="alert alert-secondary" role="alert">
            En tant que <strong>qui</strong>, je veux <strong>quoi</strong> afin de <strong>pourquoi</strong>
        </div>
        <ul>
            <li>
                Le qui indique l'utilisateur du point de vue duquel on se place.
                Il s'agit souvent d'un rôle dans l'usage du produit (par exemple « Administrateur » ou « Praticien »). Pour mieux illustrer la diversité des besoins, on peut également utiliser le concept de persona, c'est-à-dire une personne fictive, représentative de catégories d'usagers du produit, et à laquelle on peut s'identifier pour mieux comprendre ses attentes.
                L'identification et la description des personas se fait alors avant de commencer l'écriture des récits utilisateurs.
            </li>
            <li>
                Le quoi décrit succinctement la fonctionnalité ou le comportement attendu. Le but du récit n'est pas d'en fournir une explication exhaustive. Cette dernière est obtenue de façon interactive au cours d'une conversation avec les utilisateurs concernés ou leurs représentants.
            </li>
            <li>
                Le pourquoi permet d'identifier l'intérêt de la fonctionnalité et d'en justifier le développement. Il permet également de mieux évaluer la priorité du récit.
            </li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-6">
        <h2>Exemples</h2>
        <div class="alert alert-primary" role="alert">
            <p>
                En tant que <strong><i>Administrateur</i></strong>,
                <br />
                je veux pouvoir <i>rechercher mes praticiens par leur prénom et leur nom de famille et leur spécialité</i> afin <i>de les retrouver rapidement lorsque je reçois une demande de permutation.</i>
            </p>
        </div>
        <div class="alert alert-info" role="alert">
            <p>
                En tant que <strong><i>Praticien</i></strong>,
                <br />
                je veux pouvoir <i>renseigner nom nom de famille, mon prénom, nom adresse de messagerie et un mot de passe </i> afin <i> de m'inscrire et créer mon compte sur l'application DocMisssions</i>
            </p>
        </div>
        <div class="alert alert-warning" role="alert">
            <p>
                En tant que <strong><i>Chef de service dans un hôpital</i></strong>,
                <br />
                je veux pouvoir <i>recevoir une liste des noms des praticiens avec leurs dossiers de candidatures </i> afin <i> de choisir un ou plusieurs remplacements</i>
            </p>
        </div>
        <div class="alert alert-danger" role="alert">
            <p>
                En tant que <strong><i>Système</i></strong>,
                <br />
                je veux pouvoir <i>connaitre la liste des noms des praticiens choisi par un hôpitale suite à une demande de remplacement </i> afin <i> de générer les ordres de missions, les notifications et les envoyer.</i>
            </p>
        </div>        
    </div>
    
</div>
