@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center mb-2">
    <h1 class="display-4">Welcome</h1>
    <p>Application ArcelorMittal DataStore Project Users Stories</p><br />
    <p>A user story is a simple description of a user’s expressed need or expectation and is used in the area of software development and new product design to determine the features to be developed.</p>
    
    <a asp-page="/Stories/Index" class="btn btn-outline-dark">View Stories</a>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6">
        <h2>Principles</h2>
        <p>
            A user story is a simple phrase in everyday language to define with sufficient precision the content of a feature to be developed. It generally contains three descriptive elements of the functionality, in the form:
        </p>
        <div class="alert alert-secondary" role="alert">
            as a <strong>who</strong>, I want to <strong>what</strong> in order to <strong>why</strong>
        </div>
        <ul>
            <li>
                The <strong>"as a"</strong> indicates the user from whose point of view we stand.
                This is often a role in the use of the product (for example “administrator”, “scientist” or “automaton technician”). To better illustrate the diversity of needs, we can also use the concept of persona, that is, a fictional person, representative of categories of users of the product, and to whom we can identify to better understand his expectations.
                The identification and description of the personas is then done before the writing of the user stories.
            </li>
            <li>
                The <strong>"whats"</strong> briefly describes the expected functionality or behaviour. The purpose of the narrative is not to provide a comprehensive explanation. It is obtained interactively during a conversation with the users concerned or their representatives.
            </li>
            <li>
                The <strong>"why"</strong> allows to identify the interest of the functionality and to justify its development. It also allows us to better assess the story’s priority.
            </li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-6">
        <h2>Examples</h2>
        <div class="alert alert-primary" role="alert">
            <p>
                As an <strong><i>administrator</i></strong>,
                <br />
                I want to be able <i>search my users by first and last name and specialty</i> in order <i> to find them quickly when I receive a new request from a user .</i>
            </p>
        </div>
        <div class="alert alert-info" role="alert">
            <p>
                As an <strong><i>automaton technician</i></strong>,
                <br />
                I want to be able <i>to declare a new .dat file. </i> in order <i> to save the metadata in the database</i>
            </p>
        </div>
        <div class="alert alert-info" role="alert">
            <p>
                As an <strong><i>automaton technician</i></strong>,
                <br />
                I want to be able <i>to find a signal </i> in order <i>
                    to provide to users information on
                    the signals (twin signals, name, ...)
                </i>
            </p>
        </div>
        <div class="alert alert-danger" role="alert">
            <p>
                As an <strong><i>scientist</i></strong>,
                <br />
                I want to be able <i>to find a specific
                signal </i> in order <i> analyze it.</i>
            </p>
        </div>        
    </div>
    
</div>
